.gallery__jefferson {
    border-bottom: 1px solid rgb(154, 138, 120);
    margin-bottom: 30px;
    margin-top: 20px;
}

@media screen and (max-width:600px) {
    .gallery__content {
        width: 100%;
    }
         .gallery__right--right {
             margin-top:0;
         }
}