.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px;
    border: 1px solid rgb(107, 94, 78);
    border-top: none;

}

.about__us {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: none;
}

.about__content {
    align-items: center;

}

.about__title {
    font-size: 40px;
    color: white;
    letter-spacing: 0.05em;
}

.about__subtitle {
    font-size: 30px;
    color: rgb(154, 138, 120);
    max-width: 310px;
    font-weight: 400;
    text-transform: capitalize;
}

.about__text {
    max-width: 447px;
    font-size: 16px;
    line-height: 1.8em;
    color: white;
}

.about__logo {
    background-image: url("../../assets/img-build_2.webp");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    border-top: none;
    border-left: none;


}

/*--tablet--laptop--*/
@media(max-width:832px) {

    .about__title {
        font-size: 35px;
        margin-left: 10px;
    }

    .about__subtitle {
        font-size: 25px;
        margin-left: 10px;
    }

    .about__text {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }


}

/*--Mobile--*/
@media(max-width:566px) {
    .about {
        grid-template-columns: auto;


    }

    .about__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about__title {
        font-size: 25px;
        text-align: center;
        margin-left: 0;
    }

    .about__subtitle {
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
}

/*--mobile L--*/
@media(max-width:428px) {
    .about__title {
        font-size: 23px;

    }

    .about__content .about__subtitle {
        font-size: 23px;

    }

    .about__text {
        font-size: 13px;

    }

}